@font-face {
    font-family: "Bodega Sans";
    src: url("../fonts/BodegaSans_Black.ttf");
    
}

*{
    box-sizing:border-box;
}

html{
    font-size:62.5%;
}

body{
    font-family: "Bodega Sans";
    background-image: url("../img/bg_body.svg");
    background-color: #444444;
    padding: 40px;
}

header{
    background: linear-gradient(170deg, white 0%, white 50%, black 50%, black 100%);
    padding: 15px;
    /*height: 350px;*/
}

header img{
    width: 150px;
}

header a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: right;
    font-size: 1.5rem;
}

header nav{
    float: right;
    padding-top: 25px;
    line-height: 2.6rem;
}

span{
    color: #FF9D00;
}

h1, h2, h3{
    color: white;
}

h1{
    font-size: 4rem;
    text-align: center;
}

h2{
    font-size: 3rem;
    border-top: 5px solid #3F3F3F;
    border-left: 5px solid #3F3F3F;
    padding-top: 30px;
    padding-left: 30px;
}

h3{
    color: #FF9D00;
    font-size: 30px;
    text-align: center;
    margin-top: -50px;
    text-align: center;
}

.lorem{
    margin-top: 100px;
}

hr {
  border : 1px solid #FF9D00;
  margin-left: 20px;
  margin-right: 20px;
}

p{
    font-size: 14px;
    color: #82746A;
    text-align: center;
}

#moto img{
    max-width: 100%;
}


#moto article a{
    display: block;
    width: 100%;
    background-color: #FF9D00;
    color: white;
    padding: 15px 0; 
    font-size: 15px;
    text-decoration: none;
}

#moto article{
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
}

#moto article p{
    font-family: "Open Sans", arial, sans-serif;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

#video{
    text-align: center;
}

#video article p{
    text-align: justify;
    font-family: "Open Sans", arial, sans-serif;
    color: white;
}

#video h2{
    text-align: left;
}

#video a{
    display: block;
    font-size: 2.6em;
    padding: 15px;
    color: white;
}

#video video{
    max-width: 100%;
}

#video a:hover{
    color: #FF9D00;
}

#licence {
    display: block;
    text-align: center;
    padding: 25px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 10px;
}

#licence img {
    width: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#licence a{
    color: white;
}

.lorem{
    margin-top: 20px;
}

footer h3{
    color: white;
}

footer p{
    color: white;
    text-align: justify;
    font-family: 'PT Sans Narrow', sans-serif;
}

.lien{
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
    margin-top: 15px;
}

.lien:hover{
    color: #FF9D00;
}


/* responsive desktop*/
/* VERSION DESKTOP */

@media only screen and (min-width: 1025px) {


header a{
    font-size: 2rem;
}

header nav{
    float: right;
    padding-top: 8px;
    line-height: 2.6rem;
}

h2{
    margin-left: 20px;
}

h3{
    margin-top: 5px;
}

#moto article{
    display: inline-block;
    width: 23%;
    background-color: white;
    margin: 10px;
    padding: 10px;
}

#video > article > nav > a {
    display:inline-block;
    font-size: 600%;
}

#moto img{
    max-width: 100%;
}

#video article{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding: 10px;
}

.lien{
    display: inline-block;
    padding: 30px;
    
}

footer{
    text-align: center;
}

#licence img{
    padding-top: 30px;
    padding-bottom: 30px;
}

}

